body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #290228;
}

.contenedor-formulario {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6c9ff;
    border-radius: 10px;
    border-color: #42245e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.grupo-campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #8f3c3c;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #999;
}

button {
    background-color: #7520dc; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
/* PARA PUNTO 9 */

.contenedor-formulario:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
label:hover {
    color: #007bff;
}

input:hover,
textarea:hover {
    border-color: #007bff;
}

button:hover {
    background-color: #0056b3; 
}