body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #15011b;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #f3ccff;
    font-style: oblique;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.memory-card {
    width: 100px;
    height: 100px;
    background-color: #ff0051;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transform: perspective(1000px);
    transition: transform 0.5s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front-face {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.back-face {
    background-color: #8309bb;
}
